*{
    box-sizing: border-box;
    margin: 0;
   padding: 0;
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}
header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header>div>input{
    padding: 10px 10px;
    border: 1px solid #373636;
}
header>div>img{
    width: 26px;
    height: 26px;
    position: absolute;
    right:4px;
}
header>#menu{
    width: 36px;
    height: 36px;
}
nav{
 width: 250px;
 min-height: 100vh;
    background-color: #000;
    color:white;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 90px 0px;
    align-items: center;
    gap:20px;
    top: 0;
    z-index:300;
    left:-350px;
    box-shadow: 30px 30px 80px #000;
    transition: 2s;
}
nav.active{
    left:0px;
}
nav>span{
    position: absolute;
    color: #fff;
    font-size: 30px;
    right:20px;
    top: 20px;
    cursor: pointer;
}
nav>a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
/* section_1 */

.section_1{
    width: 100%;
    min-height: 50vh;
    display: flex;
    gap:15px;
    justify-content: center;
    position: relative;
}
.section_1>div{
    width: 48%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
}
.section_1>div>h1{
    padding-top: 20px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Lilita One', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Sawarabi Gothic', sans-serif;
animation: anime1   3s 1 forwards ;
}
@keyframes anime1 {
    0%{
        color:transparent;
    }
    100%{
        color:#000;
    }
}
.section_1>div>img{
    position: absolute;
    width: 45%;
    height: 60%;
    object-fit: cover;
    animation: anime2   3s 1 forwards ;

}
@keyframes anime2 {
    0%{
        bottom:-200px;
    }
    100%{
       bottom:150px;
    }
}
.section_1>div:last-child{
    display: flex;
    flex-direction: column;
    gap:35px;
    padding:250px 80px;
}
.section_1>div:last-child>p{
    font-size: 25px;
    color:#6e6767;

font-family: 'Sawarabi Gothic', sans-serif;
}
.section_1>div:last-child>h2{
 font-size: 32px;
}
.section_1>div:last-child>button{
    width: 200px;
    color:white;
    padding: 15px 5px;
    border:none;
    border-radius: 20px;
    background-color: #7391c4;
    font-size: 20px;
}
/* section_2 */
.section_2{
    width: 100%;
    min-height: 150vh;
    background-color:#f0f6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_2>h2{
    font-size: 75px;
    color: #7391c4;
    text-align: center;
}
.section_2>h4{
    text-align: center;
}
.section_2>.items{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap:105px;
    justify-content: center;
    padding-top: 50px;
    transition: 3s;
    opacity: 0;
    position: relative;
}
.section_2>.items>div{
    width: 340px;
    height: 320px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: space-between;
     padding:20px 20px 0px 20px;
     animation:anime3   3s 1 forwards ;
     margin-bottom: 230px;
}
.section_2>.items>div>img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    transform: rotate(0deg);
    transition: all 0.1s ease-out; 
    
}
.section_2>.items>div>h3{
    color:#7391c4;
    font-size: 22px;
}
.section_2>.items>div>p{
    font-size: 20px;
    text-align: justify;
}

.section_2>.items>div>span{
    background-color: #7391c4;
    position: absolute;
    width: 340px;
    color: #ffffff;
    top: 110%;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    opacity: 0;  
   }
   @keyframes anime3 {
    to{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(91deg);
    }
   }
    .section_2>.items>div>.right:hover{
        transition: 1s;
        transform: rotate(91deg);  
    } 
  .section_2>.items>div>.right:hover + span{
    transition: 4s;
    /* opacity: 1; */
    animation:anime4 8s forwards 0.8s  ;
  }
   
  @keyframes anime4 {
    20%{
        top:130%;
        opacity:0.5;
    }
    100%{
        top:140%;
        padding:40px;
        opacity:1;
    }
  }

   /* section_3 */
   .section_3{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
   }
   .section_3>div{
    width: 45%;
    min-height: 100vh;
   }

.section_3>div>img{
    position: absolute;
    top:30%;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    object-fit: cover;
    transition: 2s;
}
.section_3>div:first-child>p{
position: absolute;
width: 500px;
padding: 10px 20px;
margin-top: 75px;
font-size: 18px;
bottom:140%;
line-height: 1.4;
transition: 2s;
}
.section_3>div:last-child{
    gap: 30px;
    align-items: center;
    padding: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.section_3>div:last-child>h2{
    font-size: 65px;
    color: #7391c4;
    position: absolute;
    bottom:120%;
}
.section_3>div:last-child>p{
    font-size: 18px;
    position: absolute;
    bottom:97%;
    padding: 20px;
}

.section_3>.item2>.item{
    margin-top: 22%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 100%;
    height: 400px;
    padding: 40px;
    transition: 2s;
}
.section_3>.item2>.item>h4{
    position: absolute;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    width: 500px;
text-align: justify; 
    
}
.section_3>.item2>.item>button{
    position: absolute;
  background-color: #7391c4;
  color:white;
  border-radius: 50px;
  padding: 20px 45px;
  border: none;
  font-size: 18px;
  top:65%;
  transition: 2s;
}
/* section_4 */
.section_4{
    width: 100%;
    min-height: 80vh;
    margin-top:907px;
    background-color:#eff3f9;
    display: flex;
    gap:70px;
    z-index: 999;
    position: relative; 
    
}
.section_4>div{
    margin-top: 10px;
    width: 48%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 15px 0px 0px 65px;
}
.section_4>.item1>h2{
    font-size: 75px;
    color:#7391c4;
}
.section_4>div:first-child>h3{
font-size: 20px;
color:#6e6767;
width: 90%;
}
.section_4>.item1>p{
    font-size: 20px;
margin-top: 5px;
color:#6e6767;
width: 90%;
}
.section_4>.item1>button{
    padding: 10px;
    width: 200px;
    background-color: #7391c4;
    color:white;
    font-size: 20px;
    border-radius:50px;
    border:none;
}
.section_4>.item1{
    position: relative;
    left:-50%;
    transition: 2s;
}

.section_4>.item2{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0px 40px;
}
.section_4>.item2>ul{
    font-size: 25px;
    font-weight: bold;
}
.section_4>.item2>ul>li{
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
}
/* section_5 */
.section_5{
    width: 100%;
    min-height: 40vh;
    background-color: #eff3f9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:15px;
   padding-bottom: 70px;
}
.section_5>div{
    width: 230px;
     height: 250px;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     gap:25px;
     align-items: center;
     justify-content: center;
}
.section_5>div>h2{
    font-size: 95px;
    color:#7391c4
}
.section_5>div>h3{
    font-size: 32px;
}

/* section_6 */
.section_6{
    width: 100%;
    min-height: 50vh;
    background-color:#7391c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:35px;
}
.section_6>.wrapper{
    width: 80%;
    display: flex;
     justify-content: space-between;
     align-items: center;

}
.section_6>.wrapper>h2{
    font-size: 75px;
    width: 60%;
    padding: 0px 0px 0px 75px ;
    color:white;
}
.section_6>.wrapper>.item{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding:0px 0px 0px 65px ;
}
.section_6>.wrapper>.item>p{
   
    color:white;
    width: 100%;
    font-size: 19px;
}
.section_6>.wrapper>.item>button{
    background-color: #fff;
    color:#7391c4;
    width: 170px;
    padding:15px;
    border-radius: 50px;
    font-size: 17px;
    border: none;
}
.section_6>.people{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    transition: 3s;
}
.section_6>.people>div{
width: 230px;
height: 370px;
margin-bottom: 20px;
display: flex;
flex-direction: column;
gap:15px;
align-items: center;
color:white;
}

.section_6>.people>div>img{
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
}
.section_6>.people>div>h3{
    font-weight: normal;
    color:rgb(235, 235, 235);
}

.section_6>.people>div>.icons{
display: flex;
gap:15px;
}
.section_6>.people>div>.icons>img{
    width: 16px;
    height: 16px;
}

 /* section_7  */
.section_7{
    padding-top:30px ;
    width: 100%;
    min-height: 50vh;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_7>h2{
    font-size: 75px ;
    color: #7391c4;

}
.section_7>h4{
    font-weight: normal;
    font-size: 20px;
}
.section_7>ul{
    padding-top: 35px;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.section_7>ul>li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    list-style: none;
    width: 100%;
    margin-top: 8px;
    height: 75px;
    background-color:#eaeaea;
    text-align: center;
    font-size: 20px;
    z-index: 2;
    position: relative;
    transition: all 0.1s linear ;

}
.section_7>ul>li>h3{
font-size: 30px;
color:rgb(0, 0, 0);
cursor: pointer;
}
.section_7>ul>li:hover{
background-color: #7391c4;
color:white;
} 
.section_7>ul>span{
    visibility: hidden;
    text-align: center;
    transition: all 0.2s ease-in ;
    height: 0;
    padding: 0 20px;
    transform: translateY(-50px);
}

.section_7>ul>li:hover + span{
    visibility: visible;
    transform: translateY(0);
    top:0;
    height:max-content;
    padding: 5px 0 5px 0;


}
.section_7>ul>li+ span:hover{
    visibility: visible;
    padding: 5px 0 5px 0;
    transform: translateY(0);
    top:0;
    height:max-content;
}
/* section_8 */
.section_8{
    display: flex;
justify-content: center;
    width: 100%;
   height: 400px;
   margin-top: 50px;
}
.section_8>img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: relative;
    top: 200px;
    transition: 2s;
}
/* section_9 */
.section_9{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    justify-content: center;
    position: relative;
    top:50px;
     transition: 2s;

}
.section_9>img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.section_9>p{
    width: 50%;
    text-align: center;
}
/* section_10 */
.section_10{
    margin-top: 70px;
    width: 100%;
    min-height: 60vh;
    background-color: #fff;
    display: flex;
    gap:15px;
    justify-content: center;
    padding: 10px 0px;
}
.section_10>.form_1{
    width: 35%;
    min-height:60vh ;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items:start;
    padding: 5px;

}
.section_10>.form_1>label{
    font-size: 18px;
}

.section_10>.form_1>h2{
    padding: 0px 25px;
    font-size: 60px;
}
.section_10>.form_1>input{
    border: none;
    border-bottom: 2px solid black;
    padding:10px  15px;
    width: 80%;
    font-size: 16px;
    color: #6e6767;
}
.section_10>.form_1>textarea{
    width: 80%;
    border: none;
    border-bottom: 2px solid black;
}
.section_10>.form_1>.items{
    display: flex;
    gap:15px;
    justify-content: center;
    font-size: 18px;
}
.section_10>.form_1>.items>a{
    color:#7391c4;
    text-decoration: none;
}
.section_10>.form_1>button{
    background-color:#7391c4;
    width: 80%;
    padding: 15px;
    border-radius: 20px;
    color:white;
    border: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.5;
}
.section_10>.form_2{
    width: 28%;
    min-height: 60vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
    position: relative;
    top:350px;
    opacity: 0;
    transition: 2s;
}
.section_10>.form_2>.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.section_10>.form_2>.item>h2{
    padding-bottom: 20px;
    color: #7391c4;
}
/* footer */
footer{
    width: 100%;
    min-height: 30vh;
    background-color: #2c2b2b;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}